<!--Header-->
<header>
  <div class="header-container">
    <!--menu-->
    <div>
      <ul class="header item">
        <li>
          <a href="#">
            <img src="/Inadaptados_logo.jpg" alt="" class="logo-image">
          </a>
        </li>
      </ul>
    </div>
    <div>
      <ul class="header-item">
        <li>
          <i class="fas fa-bars icon"></i>
        </li>
      </ul>
    </div>
  </div>
</header>
<div>
  <h1>
    Practicando property-binding y event binding <br>
    Comidas
  </h1>
</div>
<div class="main-container">
  <div id="container">
    <div>
      <img src="/dominos.png" alt="" (click)="carrusel(1)">
    </div>
    <div>
      <img src="/burgerking.jpg" alt="" (click)="carrusel(2)">
    </div>
    <div>
      <img src="/starbucks.jpg" alt="" (click)="carrusel(3)">
    </div>
    <div>
      <img src="/cocacola-logo.jpg" alt="" (click)="carrusel(4)">
    </div>
  </div>
  
  <section class="mycarousel splide" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide card">
          <img [src]="img1" alt="">
          <p [innerHTML]="information1"></p>
        </li>
        <li class="splide__slide card">
          <img [src]="img2" alt="">
          <p [innerHTML]="information2"></p>
        </li>
        <li class="splide__slide card">
          <img [src]="img3" alt="">
          <p [innerHTML]="information3"></p>
        </li>
        <li class="splide__slide card">
          <img [src]="img4" alt="">
          <p [innerHTML]="information4"></p>
        </li>
        <li class="splide__slide card">
          <img [src]="img5" alt="">
          <p [innerHTML]="information5"></p>
        </li>
        <li class="splide__slide card">
          <img [src]="img6" alt="">
          <p [innerHTML]="information6"></p>
        </li>
      </ul>
    </div>
  </section>
</div>
<!--footer-->
<footer>
  <div class="copyriht">
    <p>
      Copyriht {{footerDate}} by <a href="#"><span>&copy;</span>Indptdos</a> - All right reserved
    </p>
  </div>
</footer>